# Node
node_modules/
# npm / yarn / pnpm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency stores
.pnpm-store/

# Environment files
.env
.env.*.local

# Build / output
dist/
build/
.out/
.next/
.vite/
coverage/

# Package lockfiles (opcional: remova se você quer versionar lockfiles)
# package-lock.json
# yarn.lock

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# ESLint
.eslintcache

# Misc
logs/
*.log
.cache/
